.dashboardtab {
  display: flex;
  padding: 35px 50px;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media screen and (max-width: 991px) {
  .dashboardtab {
    padding-top: 0px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 479px) {
  .dashboardtab {
    padding-right: 15px;
    padding-left: 15px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}

.tab-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .tab-top {
    flex-direction: row;
    flex-wrap: wrap;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

.tab-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

@media screen and (max-width: 991px) {
  .tab-info {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 479px) {
  .tab-info {
    grid-row-gap: 0px;
  }
}

.tab-heading {
  margin-top: 0px;
  margin-bottom: 0px;

  font-family: 'Space Grotesk';
  color: var(--white);
  font-size: 28px;
  font-weight: 500;
}

.line {
  width: 1px;
  padding-bottom: 0px;
  align-self: stretch;
  background-color: var(--stroke);
}

@media screen and (max-width: 479px) {
  .line {
    display: none;
  }
}

._16-reg {
  margin-bottom: 0px;
  font-family: 'Space Grotesk';
  color: var(--white);
  font-size: 16px;
  line-height: 25px;
}

@media screen and (max-width: 767px) {
  ._16-reg {
    flex: 0 0 auto;
  }
}

._16-reg.center {
  text-align: center;
}

._16-reg.tall {
  line-height: 35px;
}

._16-reg.white {
  color: var(--white);
}

._16-reg.no-wrap {
  flex: 0 0 auto;
}

.open-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 25px;
  grid-row-gap: 25px;

  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .open-link {
    width: 100%;
    padding: 10px 15px;
    justify-content: space-between;

    border: 1px solid var(--stroke);
    border-radius: 7.5px;

    background-color: var(--dark);
  }
}

.dashboard-main {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1440px;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (max-width: 991px) {
  .dashboard-main {
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.link-views {
  position: relative;

  overflow: hidden;
  width: 100%;
  height: auto;
  min-width: 500px;
  padding: 75px 15px 0px 15px;
  padding-top: 75px;
  flex: 1;

  border: 1px solid var(--stroke);
  border-radius: 7.5px;

  background-color: var(--dark);
  background-image: url("https://uploads-ssl.webflow.com/65cac36d42b7fd39d61e0220/6652dbaf1f14c4d917cfdba6_views-bg.svg");
  background-position: 50% 50%;
  background-size: 600px;
  background-repeat: repeat;
}

@media screen and (max-width: 991px) {
  .link-views {
    width: 100%;
    height: 300px;
    flex: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .link-views {
    min-width: 0px;
  }
}

@media screen and (max-width: 479px) {
  .link-views {
    min-width: 0px;
  }
}

.view-header {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  display: flex;
  height: 70px;
  padding: 25px;
  justify-content: space-between;
  align-items: flex-start;

  background-color: hsla(0, 0.00%, 0.00%, 0.35);

  backdrop-filter: blur(3px);
}

.view-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.dashboard-main-right {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.info-card {
  display: flex;
  min-width: 425px;
  padding: 15px;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  border: 1px solid var(--stroke);
  border-radius: 7.5px;

  background-color: var(--dark);
}

@media screen and (max-width: 479px) {
  .info-card {
    min-width: 0px;
  }
}

.dark {
  padding-right: 5px;
  color: var(--grey);
}