.tooltip{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.25);
    box-sizing: border-box;
    height: 35px;
    padding: 0px 15px;
    border-radius: 5px;
    color: white;
    backdrop-filter: blur(10px);
    border: 1px solid var(--stroke);
    :only-child {
        margin: 0;
    }
}
.recharts-surface {
    top:0;
    left:0;
}